@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b5b3b3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7c7c;
}

body,
html {
    font-family: "inter", sans-serif;
}

.rbc-today {
    background-color: rgba(171, 174, 190, 0.568);
}

.rbc-timeslot-group {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
}
