@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b5b3b3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7c7c;
}

body,
html {
    font-family: "Inter", sans-serif;
}
